<!-- Face Turns Breakdown -->
<section class="face-turns-breakdown">
  <h2>Face Turns Breakdown</h2>
  <p>Individual face turn moves</p>
  
  <div class="moves-breakdown">
    <div class="row row-1">
      <div id="r-move-container"></div>
      <div id="u-move-container"></div>
      <div id="f-move-container"></div>
    </div>
    <div class="row row-2">
      <div id="l-move-container"></div>
      <div id="d-move-container"></div>
      <div id="b-move-container"></div>
    </div>
  </div>
</section> 